.addBtnProduct {
  float: right;
}

.linkBtnProduct {
  text-decoration: none;
  font-size: 13px;
  color: white;
}

.linkBtnProduct:hover {
  color: white;
}

.unOrderedList {
  list-style: none;
}

.productBtnRow {
  margin-bottom: 5%;
}

.card {
  padding: 10px;
}
